<button (click)="showCreateForm()" [hidden]="newAnnotation" class="btn btn-default">New annotation</button>

<div *ngIf="newAnnotation">
  <h4>Create annotation</h4>
  <div class="form-group">
    <label for="annotationText">Text</label>
    <input id="annotationText" class="form-control" [(ngModel)]="newAnnotation.text">
  </div>
  <div class="form-group">
    <label for="annotationType">Type</label>
    <select id="annotationType" class="formControl" [(ngModel)]="newAnnotation.type">
      <option value="threshold">threshold</option>
      <option value="band">band</option>
    </select>
  </div>
  <div class="form-group">
    <p>Axis</p>
    <label for="annotationAxis">X axis</label>
    <input id="annotationAxis" [(ngModel)]="newAnnotation.axis" type="radio" value="x">
    <label for="annotationAxis">Y axis</label>
    <input id="annotationAxis" [(ngModel)]="newAnnotation.axis" type="radio" value="y">
  </div>
  <div class="form-group" *ngIf="newAnnotation.type == 'threshold' && !newAnnotation.variable">
    <label for="annotationValue">Value</label>
    <input id="annotationValue" class="form-control" [(ngModel)]="newAnnotation.value">
  </div>
  <div class="form-group" *ngIf="newAnnotation.type && !newAnnotation.value">
    <label for="annotationValue">Variable</label>
    <input id="annotationValue" class="form-control" [(ngModel)]="newAnnotation.variable">
  </div>
  <div class="form-group" *ngIf="newAnnotation.type == 'band'">
    <label for="annotationValue">Width</label>
    <input id="annotationValue" class="form-control" [(ngModel)]="newAnnotation.width">
  </div>
  <button class="btn btn-general" (click)="add(newAnnotation)">Save</button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Text</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let annotation of annotations">
      <td>{{annotation.text}}</td>
      <td>{{annotation.type}}</td>
      <td>
        <a href="#" (click)="edit(annotation); false">Edit</a>
        <a href="#" (click)="delete(annotation); false">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedAnnotation">
  <h3>Edit annotation</h3>
  <div class="form-group">
    <label for="annotationText">Text</label>
    <input id="annotationText" class="form-control" [(ngModel)]="selectedAnnotation.text">
  </div>
  <div class="form-group">
    <label for="annotationType">Type</label>
    <select id="annotationType" class="formControl" [(ngModel)]="selectedAnnotation.type">
      <option value="threshold">threshold</option>
      <option value="band">band</option>
    </select>
  </div>
  <button class="btn btn-general" (click)="save(annotation)">Save</button>
</div>

