<div class="form-group">
  <button (click)="showCreateForm(); false" [hidden]="newAnnotation" class="btn btn-default">New annotation</button>
</div>

<div *ngIf="newAnnotation">
  <div class="form-group">
    <h4>Create annotation</h4>
  </div>
  <div class="form-group row">
    <label for="annotationText" class="col-2 col-form-label">Text</label>
    <div class="col-10">
      <input id="annotationText" class="form-control" [(ngModel)]="newAnnotation.text">
    </div>
  </div>
  <div class="form-group row">
    <label for="annotationType" class="col-2 col-form-label">Type</label>
    <div class="col-3">
      <select id="annotationType" class="form-control" [(ngModel)]="newAnnotation.type">
      <option value="threshold">Threshold</option>
      <option value="band">Band</option>
    </select>
      <p class="form-text small-text" *ngIf="newAnnotation.type == 'band'">Band annotation can be used in Linechart.</p>
    </div>
  </div>
  <div class="form-group row" *ngIf="newAnnotation.type == 'threshold'">
    <label for="annotationAxis" class="col-2  col-form-label">Axis</label>
    <div class="col-2">
      <select id="annotationAxis" class="form-control" [(ngModel)]="newAnnotation.axis">
        <option value="x">X</option>
        <option value="y">Y</option>
      </select>
    </div>
  </div>
  <div class="form-group row" *ngIf="newAnnotation.type == 'threshold' && !newAnnotation.variable">
    <label class="col-2  col-form-label" for="annotationValue">Value </label>
    <div class="col-9">
      <input id="annotationValue" class="form-control" [(ngModel)]="newAnnotation.value">
      <p class="form-text small-text">Value for a static annotation.</p>
    </div>
  </div>
  <div class="form-group row" *ngIf="newAnnotation.type && !newAnnotation.value">
    <label class="col-2  col-form-label" for="annotationValue">Variable </label>
    <div class="col-10">
      <input id="annotationValue" class="form-control" [(ngModel)]="newAnnotation.variable">
      <p class="form-text small-text">Variable that holds the value for a dynamic annotation.</p>
    </div>
  </div>
  <div class="form-group row" *ngIf="newAnnotation.type == 'band'">
    <label class="col-2  col-form-label" for="annotationValue">Width </label>
    <div class="col-10">
      <input id="annotationValue" class="form-control" [(ngModel)]="newAnnotation.width">
      <p class="form-text small-text">Variable that holds the whidth for a band annotation.</p>
    </div>
  </div>
  <div class="form-group right-col">
    <button class="btn btn-col" (click)="add(newAnnotation)">Save</button>
    <button class="btn btn-col" (click)="cancel(newAnnotation)">Cancel</button>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Text</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let annotation of annotations">
      <td>{{annotation.text}}</td>
      <td>{{annotation.type}}</td>
      <td>
        <a href="#" (click)="edit(annotation); false">Edit</a>
        <a href="#" (click)="delete(annotation); false">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedAnnotation">
  <div class="form-group">
    <h3>Edit annotation</h3>
  </div>

  <div class="form-group row">
      <label for="annotationText" class="col-2 col-form-label">Text</label>
    <div class="col-10">
      <input id="annotationText" class="form-control" [(ngModel)]="selectedAnnotation.text">
    </div>
  </div>
  <div class="form-group row" *ngIf="selectedAnnotation.type == 'threshold'">
    <label for="annotationAxis" class="col-2  col-form-label">Axis</label>
    <div class="col-2">
      <select id="annotationAxis" class="form-control" [(ngModel)]="selectedAnnotation.axis">
        <option value="x">X</option>
        <option value="y">Y</option>
      </select>
    </div>
  </div>
  <div class="form-group row" *ngIf="selectedAnnotation.type == 'threshold' && !selectedAnnotation.variable">
    <label class="col-2  col-form-label" for="annotationValue">Value </label>
    <div class="col-9">
      <input id="annotationValue" class="form-control" [(ngModel)]="selectedAnnotation.value">
      <p class="form-text small-text">Value for a static annotation.</p>
    </div>
  </div>
  <div class="form-group row" *ngIf="selectedAnnotation.type && !selectedAnnotation.value">
    <label class="col-2  col-form-label" for="annotationValue">Variable </label>
    <div class="col-10">
      <input id="annotationValue" class="form-control" [(ngModel)]="selectedAnnotation.variable">
      <p class="form-text small-text">Variable that holds the value for a dynamic annotation.</p>
    </div>
  </div>
  <div class="form-group row" *ngIf="selectedAnnotation.type == 'band'">
    <label class="col-2  col-form-label" for="annotationValue">Width </label>
    <div class="col-10">
      <input id="annotationValue" class="form-control" [(ngModel)]="selectedAnnotation.width">
      <p class="form-text small-text">Variable that holds the whidth for a band annotation.</p>
    </div>
  </div>

  <div class="form-group right-col">
    <button class="btn btn-col" (click)="update(selectedAnnotation)">Save</button>
    <button class="btn btn-col" (click)="cancel()">Cancel</button>
  </div>
</div>
